<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='{{ delimit .Keywords " ," }}' name="keywords">
    <meta content="{{ .Description }}" property="og:description">
    <title>Fesco Help</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>

    <!-- ========== Css Files ========== -->
    <link href="/assets/css/prism.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
    <link href="/assets/css//zoom.css" rel="stylesheet">
    <link href="/assets/css/root.css" rel="stylesheet">
    <link href="/assets/css/pixxet-api.css" rel="stylesheet">


</head>
<body>