<!-- Start Page Loading -->
<div class="loading"><img src="/img/loading.gif" alt="loading-img"></div>
<!-- End Page Loading -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START TOP -->
<div id="top" class="clearfix">

    <!-- Start App Logo -->
    <div class="applogo">
        <a href="/" class="logo">
            <img src="/img/logo.png" alt="FESCO Help" style="width: 100%">
        </a>
    </div>
    <!-- End App Logo -->

    <!-- Start Sidebar Show Hide Button -->
    <a href="javascript:void(0);" class="sidebar-open-button"><i class="fa fa-bars"></i></a>
    <a href="javascript:void(0);" class="sidebar-open-button-mobile"><i class="fa fa-bars"></i></a>
    <!-- End Sidebar Show Hide Button -->

    <!-- Start Searchbox -->
    {{ partial "search.html" . }}
    <!-- End Searchbox -->

    <div class="personal_cabinet-header pull-right hidden-xs">
        <a href="https://my.fesco.com/login" class="personal_cabinet__block-header">
            <div class="personal_cabinet__icon">
                <img src="/img/icon/account-circle.png" alt="Иконка">
            </div>
            <span class="personal_cabinet__text">
      Перейти в личный кабинет
    </span>
        </a>
    </div>

    <!-- Start Top Menu -->
    <!--<ul class="topmenu">-->
        <!--<li><a href="javascript:void(0);">Files</a></li>-->
        <!--<li><a href="javascript:void(0);">Authors</a></li>-->
        <!--<li><a href="javascript:void(0);">Demo</a></li>-->
        <!--<li><a href="javascript:void(0);">Pricing</a></li>-->
        <!--<li><a href="javascript:void(0);">Contact US</a></li>-->
        <!--<li class="dropdown">-->
            <!--<a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">My Files <span class="caret"></span></a>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li><a href="javascript:void(0);">Videos</a></li>-->
                <!--<li><a href="javascript:void(0);">Pictures</a></li>-->
                <!--<li><a href="javascript:void(0);">Blog Posts</a></li>-->
            <!--</ul>-->
        <!--</li>-->
    <!--</ul>-->
    <!-- End Top Menu -->

</div>
<!-- END TOP -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
