{{/*<btn href="#" color="primary" icon="picture-o" text="куку" target="_blank">*/}}

{{ $colorClass := .Get "color"}}
{{ $href := .Get "href"}}
{{ $target := .Get "target"}}

<!--дефолтное значение ссылки-->
{{ if not $href }}
{{$href = "#"}}
{{end}}

<!--дефолтное значение цвета-->
{{ if not $colorClass }}
{{$colorClass = "deault"}}
{{end}}

<!--дефолтное значение target-->
{{ if not $target }}
{{$target = "_self"}}
{{end}}

<a href="{{$href}}" class="btn btn-{{$colorClass}}" {{$target}}>
    {{with .Get "icon"}}
    <i class="fa fa-{{.}}"></i>
    {{end}}
    {{.Get "text"}}
</a>