{{ if $.Page.Resources.GetMatch (.Get "name") }}
    {{$class := .Get "class"}}
    {{$style := .Get "style"}}
    {{ with $.Page.Resources.Match (.Get "name") }}
        <video autoplay loop muted inline class='{{$class}}' {{ with $style}} style='{{. | safeCSS}}'{{end}}>
        {{ range . }}
            {{ $mediaType := printf "%s" .MediaType }}
            {{ $link := .RelPermalink }}
            {{ with (eq $mediaType "video/webm") }}
                <source src="{{ $link }}" type="video/webm">
            {{ end }}
            {{ with (eq $mediaType "video/mp4") }}
                <source src="{{ $link }}" type="video/mp4">
            {{ end }}
            {{ with (eq $mediaType "image/gif") }}
                <img src="{{ $link }}"/>
            {{ end }}
        {{ end }}
        </video>
    {{ end }}
{{ else }}
    <pre>gif '{{.Get "name"}}' not found!!!</pre>
{{ end }}