<div class="is-helpful">
    <div class="row">
        <div class="col-md-6">
            <span class="is-helpful__title">Были ли эта статья полезной?</span>
            <div class="is-helpful__buttons">
                <button class="is-helpful__btn button-y btn btn-icon">
                    <i class="fa fa-check"></i>Да
                </button>
                <button class="is-helpful__btn button-n btn btn-icon">
                    <i class="fa fa-times"></i>Нет
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <span class="is-helpful__count">Пользователи, считающие этот материал полезным <span class="is-helpful_yes_count"></span> из <span class="is-helpful_yes_count"></span></span>
            <div class="is-helpful__questions">
                <span class="is-helpful__icon">Еще есть вопросы?</span> <a href="mailto:mfsupport@fesco.com">Отправить запрос</a>
            </div>
        </div>
    </div>
</div>