{{ partial "header.html" . }}
{{ partial "top_navbar.html" . }}
{{ partial "sidebar.html" . }}

<div class="content">

    <!-- START CONTAINER -->
    <div class="container-widget">
        <!-- Start Top Stats -->
        <div class="col-md-12">
            <div id="documenter_content" class="method-area-wrapper">
                <div id="documenter-1" class="method">
                    <div class="method-area">
                        <div class="method-example">
                            <img src="/img/fesco-404.png" alt=""
                                 style="display: block; width: 100%; max-width: 500px; margin: 0 auto;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{ partial "footer.html" . }}